*{
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Light, 微软雅黑;
}
body,html{
    width: 100%;
    height: 100%;
    color:#333;
    /* overflow: hidden;*/
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}
/*清除浮动*/
.clear-both:before, .clear-both:after {
    display: table;
    content: "";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
.fl{
    float: left;
}
.fr{
    float: right;
}




/*引用字库*/
@font-face { font-family:'electronicFont'; src: url("/assets/font/DS-DIGIT.TTF"); }

/*header开始*/
.header{
    width: 100%;
    height: 80px;
    /*background: #030829;*/
    background: #1d2330;
    padding:0 20px;
    min-width: 1366px;
}
.header>.header_logo{
    padding:10px 10px 10px 0px;
}
.header>.header_logo>a{
    display: block;
}
.header>.header_logo>a>img{
    width:260px;
}

.header>.header_nav{
    margin-left: 20px;
}
.header>.header_nav>ul>li{
    float: left;
    margin-right: 6px;
    position: relative;
}
.header>.header_nav>ul>li>a{
    display: block;
    height: 80px;
    padding:0 10px 0 30px;
    line-height: 80px;
    color:#fff;
}
.header>.header_nav>ul>li>a:hover{
    border-bottom: 4px solid #4b8df8;
}
.header>.header_nav>ul>li>img{
    float: left;
    position: absolute;
    top: 33px;
    left:10px;
}
.header>.header_nav>ul>li>a.nav_current{
    border-bottom: 4px solid #4b8df8;
}

.header>.header_myself{
    width: 190px;
    text-align: center;
}
.header>.header_myself>p{
    color:#fff;
    font-size: 13px;
    margin-top: 15px;
}
.header>.header_myself>a{
    color:#fff;
    font-size: 13px;

}
.header>.header_myself>p>a{
    margin-right: 10px;
    display: inline-block;
}
.header>.header_myself>p>a>img{
    width:45px;
}
/*二级菜单 开始*/
.header>.header_nav>ul>li>ul>li>a{
    display: block;
    padding:8px 10px;
    background-color: #030829;
    color:#fff;
    font-size: 14px;
}
.header>.header_nav>ul>li>ul{
    display: none;
    width: 100px;
    position: absolute;
    top:80px;
    left: 0px;
    z-index: 1000;
}
.header>.header_nav>ul>li>ul>li>a:hover{
    background-color: #4b8df8;
}
.header>.header_nav>ul>li>ul>li{
    position: relative;
    z-index: 1000;
}
.header>.header_nav>ul>li>ul>li>ul{
    display: none;
    width: 100px;
    position: absolute;
    top:0;
    left: 100px;;
}
.header>.header_nav>ul>li>ul>li>ul>li>a{
    display: block;
    padding:8px 10px;
    background-color: #030829;
    color:#fff;
    font-size: 14px;
}
.header>.header_nav>ul>li>ul>li>ul>li>a:hover{
    background-color: #4b8df8;
}
/*二级菜单 结束*/

/*header结束*/



/*content 开始*/

.content{
    margin: 20px;
    width: calc(100% - 40px);
    min-width: 1366px;
}
.content>.content_title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #4b8df8;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.content>.content_title>p{
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}
.content>.content_title>img{
    margin: 10px 10px 0px 10px;
}
.content>.content_main{
    min-width: 1366px;
}
.content>.content_main>.content_search>div{
    margin-right: 25px;
}
.content>.content_main>.content_search>div>label{
    width: 80px;
    text-align: right;
}
.content>.content_main>.content_search>div>select,
.content>.content_main>.content_search>div>input
{
    width: 200px;
}
.content>.content_main>.content_table{
    margin-top: 30px;
}
.content>.content_main>.content_table>table{
    margin-top: 15px;
}
.content>.content_main>.content_table>table th:nth-child(1),
.content>.content_main>.content_table>table td:nth-child(1){
    width: 50px;
    text-align: center;
}

.content>.content_main>.content_page>span {
    font-size: 12.8px;
    margin-top: 7px;
}
.content>.content_main>.content_page>select{
    width: 70px;
    margin-right: 10px;
}
/*content 结束*/


/*新底部*/
/* 顶部大指标 */
.big-index-1 {
    position: absolute;
    /*left: 267px;*/
    left: 20px;
    top:50px;
    line-height: 1;
    min-width: 818px;
    height:75px;
    overflow: hidden;
}
.big-index-1 .bigMain {
    transition: all 0.1s ease;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 145px;
    height:54px;
    padding: 10px 0 0 30px;
    background: url(/assets/bg01bigindex.png) 0 0 no-repeat;
    margin-right: 16px;
}
.big-index-1 .bigMain strong {
    display: block;
    color: #fff;
    font-family:'electronicFont';
    font-size: 22px;
    font-weight: normal;
}
.big-index-1 .bigMain p {
    display: block;
    color: #b8b9bb;
    font-size:12px;
    /*padding-bottom:4px;*/
    margin: 0 0 6px;
}
.big-index-1 .bigMain .animation-1 {
    /*-webkit-animation-iteration-count: infinite;
    -webkit-animation-name:bounceInLeft1;
    -webkit-animation-duration: 9000ms;*/
    -webkit-animation-name: skyset;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite; /*无限循环*/
    -webkit-animation-timing-function: linear;

    position: absolute;
    left: 12px;
    bottom:1px;
    height: 3px;
    width: 345px;
    background: url(/assets/bg04bigindex.png) 0 0 repeat-x;
}
/*.big-index-1 li .animation-1 {-webkit-animation-iteration-count: infinite;-webkit-animation-name:bounceInLeft1;-webkit-animation-duration: 9000ms;position: absolute;left: 12px;bottom:1px;height: 3px;width: 345px;background: url(/assets/bg04bigindex.png) 0 0 repeat-x;}
*/
.big-index-1 .bigMain .animation-2 {
    position: absolute;
    right:0;
    top:1px;
    height: 16px;
    width: 15px;
    background: url(/assets/bg02bigindex.png) 0 0 no-repeat;
}
.big-index-1 li .animation-3 {
    position: absolute;
    right:-1px;
    bottom:-1px;
    height: 4px;
    width: 4px;
    background: url(/assets/bg03bigindex.png) 50% 50% no-repeat;
}
.big-index-1 .bigMain:hover .animation-2 {
    background: url(/assets/bg02bigindex_.png) 0 0 no-repeat;
}
.big-index-1 .bigMain:hover .animation-3 {
    background: url(/assets/bg03bigindex_.png) 50% 50% no-repeat;
}
.big-index-1 .bigMain:hover .animation-1 {
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name:bounceInRight1;
    -webkit-animation-duration:4000ms;
}
.big-index-1 .bigMain:hover .animation-2, .big-index-1 .bigMain:hover .animation-3 {
-webkit-animation:flash .2s .2s ease both;
-moz-animation:flash .2s .2s ease both;
}


@media screen and (max-width: 1366px) {
   .big-index-1 .bigMain:nth-child(6) { display: none;}
   .big-index-1 .bigMain { margin-right: 6px;}
}

/* */
@-webkit-keyframes flash{  0%,50%,100%{opacity: 1;} 25%,75%{opacity: 0;} }
@-moz-keyframes flash{ 0%,50%,100%{opacity: 1;} 25%,75%{opacity: 0;} }
@-webkit-keyframes flash1{ 0%,50%,100%{opacity: 1;} 25%,75%{opacity: .5;} }
@-moz-keyframes flash1{ 0%,50%,100%{opacity: 1;} 25%,75%{opacity: .5;} }
@-webkit-keyframes flash2{  0%,50%,100%{opacity: .2;}  25%,75%{opacity: 0;} }
@-moz-keyframes flash1{ 0%,50%,100%{opacity:.2;}  25%,75%{opacity: 0;} }
/*左侧移动*/
h2{
    -webkit-animation:fadeInLeft 1s .1s ease both;
    -moz-animation:fadeInLeft 1s .1s ease both;

}
@-webkit-keyframes fadeInLeft{
    0%{opacity:0;
        -webkit-transform:translateX(-1000px)}
    100%{opacity:1;
        -webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft{
    0%{opacity:0;
        -moz-transform:translateX(-1000px)}
    100%{opacity:1;
        -moz-transform:translateX(0)}
}

.big-index-1{
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;}
@-webkit-keyframes fadeInDown{
    0%{opacity:0;
        -webkit-transform:translateY(-20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
    0%{opacity:0;
        -moz-transform:translateY(-20px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}

/*最新右侧*/
.right-area {color:#fff; position: absolute; right: 50px; top:-110px;  -webkit-animation:bounceInRight2 .8s .3s ease both; }
.right-area h3 { position:relative; top:20px; background:url(/assets/bg04rightarea.png) 6px bottom no-repeat ; padding-bottom:6px; padding-left: 6px; font-size: 14px; font-weight: normal;}
.right-area h3 b { position: absolute; left:0; top:0; display: block; width: 7px; height: 7px;  background:url(/assets/bg03rightarea.png) right 0 no-repeat ;}
.right-area h3 b { -webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash1 ; -webkit-animation-duration:.2ms; }

.area-inbox-1 { width: 293px; height: 270px; background: url(/assets/bg01rightarea.png) right bottom no-repeat;}
.area-inbox-2 {position: absolute; right: 0;  width: 208px; height: 320px; background: url(/assets/bg02rightarea.png) right bottom no-repeat;}
.area-text p { width: 115px;}


.area-inbox-1 dl { padding:115px 0 0 130px;}
.area-inbox-1 dl dt { color: rgba(255,255,255,.3); margin-top: 4px;}
.area-inbox-1 dl dd { position: relative; }
.area-inbox-1 dl dd.font12 { font-size: 12px;}
.area-inbox-1 dl dd.font-red { color:#ff3114;}
.area-inbox-1 dl dd.ml-20, .area-inbox-1 dl dt.ml-20 { margin-left: -18px;}
.area-inbox-1 dl dd span {font-family:'electronicFont'; position:relative; z-index: 1; font-size: 22px; margin-top: 6px; letter-spacing:1px; opacity:1; }
.area-inbox-1 dl dd b {-webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash2 ; -webkit-animation-duration:3000ms;  position: absolute; left:-5px; top: 30%; display: block; width:74px; height:17px; background: url(/assets/bg07rightarea.png) left bottom no-repeat;}
.area-inbox-1 dl dd:nth-child(2) b {-webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash2 ; -webkit-animation-duration:5000ms;}
.area-inbox-1 dl dd:nth-child(3) b {-webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash2 ; -webkit-animation-duration: 1000ms;}

.round-1 { position: absolute; left: 74px; top: 98px; width: 208px; height: 208px; border-radius: 100%; border:1px dashed #fff; -webkit-animation-iteration-count: infinite;  -webkit-animation-name:forotate ; -webkit-animation-duration:19000ms;}
.round-2 { position: absolute; left: 59px; top: 84px; width: 238px; height: 238px; border-radius: 100%; border:1px dashed rgba(255,255,255,0.5);  -webkit-animation-iteration-count: infinite;  -webkit-animation-name:forotate1 ; -webkit-animation-duration:8000ms;}
.round-3 { position: absolute; left: 50px; top: 68px; width: 40px; height: 40px; border:1px solid rgba(255,255,255,.8); text-align: center; line-height: 40px;font-family:'electronicFont'; font-size: 14px;  border-radius: 100%; background: url(/assets/bg05rightarea.png) right bottom no-repeat;  -webkit-animation-iteration-count: infinite;  -webkit-animation-name: whitePulse; -webkit-animation-duration:2s;}
.round-4 { position: absolute; left: 40px; top:102px; width: 23px; height: 23px; border-radius: 100%; background: url(/assets/bg06rightarea.png) right bottom no-repeat; box-shadow: 0 0 12px #fff; -webkit-animation-iteration-count: infinite;  -webkit-animation-name:forotate ; -webkit-animation-duration:4000ms;}

.area-inbox-2 { }
.area-inbox-2 ul {margin-left:50px; margin-top:15px;}
.area-inbox-2 li { position: relative; margin-top: 12px; width: 91px; padding-right: 10px; cursor: pointer; height: 24px; padding-top: 15px; text-align:right; background: url(/assets/bg01big2index.png) right bottom no-repeat;font-family:'electronicFont'; font-size: 20px; color: #fff; }
.area-inbox-2 li strong { position: absolute; left:3px; top:5px; color: #00ccff; font-size: 30px;}
.area-inbox-2 li b { width: 60px; height: 5px; background: #5d5d5d;  display: block; position: absolute; right:3px; top:8px; }
.area-inbox-2 li:hover b { background: #fff; -webkit-animation:flash .2s .2s ease both; -moz-animation:flash .2s .2s ease both;}
.area-inbox-2 li em {width: 15px; height:14px; background: url(/assets/bg02big2index.png) right bottom no-repeat; display: block; position: absolute; left:-4px; top:-4px;}

.area-text { margin-top: 25px ; position: relative; width: 116px; padding: 14px;}
.area-text h4 {}
.area-text p { color: rgba(255,255,255,.6) }
.area-text b { position: absolute; top: 0; display: block; width:8px; height: 140px; }
.animation-line1 {  left:0; background: url(/assets/bg01righttext.png) center top no-repeat;}
.animation-line2 {  right:0;background: url(/assets/bg02righttext.png) center top no-repeat;}

.center-area { margin: 110px 365px 0 265px ; position: relative; }
.pandect-area {background: url(/assets/bg02pandect.png) center top no-repeat; height: 292px; margin: 0 68px; position: relative;}
.pandect-area .pandect-area-left { position: absolute; left:-68px; top: 0; display: block; width:68px; height: 292px; background: url(/assets/bg01pandect.png) center top no-repeat;}
.pandect-area .pandect-area-right { position: absolute; right:-68px; top: 0; display: block; width:68px; height: 292px; background: url(/assets/bg03pandect.png) center top no-repeat;}

.pandect-area .pandect-area-left b { -webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash1 ; -webkit-animation-duration:.2ms; position: absolute; left:-5px; top: -5px; display: block; width:16px; height: 22px; background: url(/assets/bg04pandect.png) center top no-repeat;}
.pandect-area .pandect-area-right b { -webkit-animation-iteration-count: infinite;  -webkit-animation-name:flash1 ; -webkit-animation-duration:.2ms;position: absolute; right:-7px; top:-5px; display: block; width:16px; height: 22px; background: url(/assets/bg05pandect.png) center top no-repeat;}

.pandect-area h3 { font-weight: normal; text-align: center; position: relative; top:10px;  z-index: 1; border-bottom: 1px solid #666; margin:0 -55px;}
.pandect-area h3 p { position: absolute; left: 0; top: 0; background: #000;font-family:'electronicFont'; color: rgba(255,255,255,.8)}
.pandect-area h3 p sub { display: block; color: rgba(255,255,255,.3)}
.pandect-area h3 strong { border:1px solid #ababab; padding: 1px 14px; line-height: 1; position: relative; bottom: -8px; z-index: 1; background: #000;}
.pandect-area h3 em { position: absolute; right: 0; top: 0;font-family:'electronicFont'; font-size: 14px; color: #ff3114;}
.pandect-area-center { margin-top: 20px; overflow: hidden;}


.details1-area { position: absolute; left:10px; margin-top: 15px; text-align: center; height: 207px; }
.detailsl-area-left { display: block; width: 122px; height: 207px; position: absolute; left: -122px; top: 0;  background: url(/assets/bg01details03.png) center bottom no-repeat; }
.detailsl-area-right {display: block; width: 121px; height: 207px; position: absolute; right: -121px; top: 0;  background: url(/assets/bg01details05.png) center bottom no-repeat; }
.details1-area-center { height: 207px; float: left; background: url(/assets/bg01details04.png) center bottom repeat-x;}




.details2-area { position: absolute; right:10px;  margin-top: 15px;  height: 207px; text-align: center;}
.details2-area h3, .details2-area dl { margin-left: 40px!important;}
.details2-area-left { display: block; width: 122px; height: 207px; position: absolute; left: -122px; top: 0;  background: url(/assets/bg01details01.png) center bottom no-repeat; }
.details2-area-right {display: block; width: 121px; height: 207px; position: absolute; right: -121px; top: 0;  background: url(/assets/bg01details02.png) center bottom no-repeat; }
.details2-area-center { height: 207px; float: left; background: url(/assets/bg01details06.png) center bottom repeat-x;}


@media screen and (max-width: 1600px) {
    .details1-area-center { width: 390px;}
    .details2-area-center { width: 390px;}
}

@media screen and (max-width: 1366px) {
    .details1-area-center { width: auto;}
    .details2-area-center { width: auto;}
}



.details1-area b, .details2-area b { position: absolute;  left:0; bottom:12px; display:block; width:100%; height: 55px; background: url(/assets/bg03details.png) center top no-repeat; background-size:100%; }
.details1-area h3, .details2-area h3 { text-align: left;  margin-top: 15px; font-size: 14px;}
.details1-area b, .details2-area b {-webkit-animation: bounce-up1 5s linear infinite; animation: bounce-up1 5s linear infinite;}
.details1-area dl, .details2-area dl { margin:40px 0 0 40px;}
.details2-area dl {margin-left: 0px;}
.details1-area dl dt, .details2-area dl dt { float: left; clear: left; width: 110px; text-align: right; margin: 6px 0;}
.details1-area dl dd, .details2-area dl dd { float: left; margin: 6px 0; font-family:'electronicFont'; font-size: 14px;}
.details1-area dl dd ul, .details2-area dl dd ul { float: left; margin: 3px 12px 0 12px;}
.details1-area dl dd ul li, .details2-area dl dd ul li { width: 3px; height: 10px; border-radius:12px; background: #dadcdc;  float: left; margin-left:1px;}
.details1-area dl dd:nth-child(2) ul li, .details2-area dl dd:nth-child(2) ul li {height:7px!important; margin-top: 3px;}
.details1-area dl dd ul li.yellow, .details2-area dl dd ul li.yellow { background: #ffbc00;}
.details1-area dl dd ul li.red, .details2-area dl dd ul li.red { background: #ff0000;}

@keyframes bounce-up1 {
    25% {
        transform: translateY(5px);
    }
    50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
}
@-webkit-keyframes bounce-up1 {
    25% {
        -webkit-transform: translateY(5px);
    }
    50%, 100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(-5px);
    }
}

.details1-area, .details2-area, .pandect-area{
    -webkit-animation:fadeInUp 1s 1s ease both;
    -moz-animation:fadeInUp 1s 1s ease both;}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        -webkit-transform:translateY(20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
.time-base-outer {
    -webkit-animation:fadeInUpBig .5s .2s ease both;
    -moz-animation:fadeInUpBig .5s .2s ease both;}
@-webkit-keyframes fadeInUpBig{
    0%{opacity:0;
        -webkit-transform:translateY(2000px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
    0%{opacity:0;
        -moz-transform:translateY(2000px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}

h1{
    -webkit-animation:fadeInDownBig .8s .2s ease both;
    -moz-animation:fadeInDownBig .8s .2s ease both;}
@-webkit-keyframes fadeInDownBig{
    0%{opacity:0;
        -webkit-transform:translateY(-2000px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDownBig{
    0%{opacity:0;
        -moz-transform:translateY(-2000px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}

/*旋转*/
.logoline3{-webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite;  -webkit-animation-name:forotate ; -webkit-animation-duration: 6000ms; }
@-webkit-keyframes forotate{
    from{
        -webkit-transform:rotate(-360deg);
        opacity: .9;
       }
    to{
        -webkit-transform:rotate(0);
        opacity: 1;
        }
}

@-webkit-keyframes forotate1{
    from{
        -webkit-transform:rotate(0);
    }
    to{
        -webkit-transform:rotate(-180deg);
    }
}

.prettyprint{
    margin:0px;
    background:rgba(0,0,0,.2);
    border:none;
    color:#fff;
}
.preMain{
    margin: 10px;
    height: 250px;
    overflow-y: auto;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/**/
.runNum{

    overflow: hidden;
    height: 20px;
    line-height: 20px;
    margin-top: -4px;
    text-align: center;

    position: relative;
}
.runNum>li{
    list-style: none;
    width: 10px;
    float: left;
    position: absolute;
        color: #fff;
    font-family: 'electronicFont';
}
.runNum>li div{
    color: #fff;
    font-family: 'electronicFont';
    font-size: 22px;
}


/**/
/*.preMain table {
    border-collapse: collapse;
    border-spacing: 0;
}
.preMain tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}*/
/*.blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27,31,35,.3);
    cursor: pointer;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}
.blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}
.blob-code-inner {

    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}*/
